<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #ADD8E6;
}

li a {
  color: #000000;
}

</style>
</head>
<body>

<ul>
  <li><a href="#Home">Home</a></li>
  <li><a href="#Uitlegbinairstelsel">uitleg binair stelsel</a></li>
  <li><a href="#kleurmodellen">uitleg kleurmodellen</a></li>
  <li><a href="#afbeeldingenengeluid">opslag afbeeldingen en geluid</a></li>
</ul>
